
<div class="col-md-1 ng">
  <div class="list-group affix_dash" (scroll)="onWindowScroll($event);" id="sidebar">
    <a routerLink="/dashboard" class="list-group-item active main-color-bg">
      <i class="material-icons mg-icon">dashboard </i>
    </a>
    <a routerLink="/planning" class="list-group-item"> <i class="material-icons mg-icon">edit </i></a>
    <a routerLink="/tracking" class="list-group-item"> <i class="material-icons mg-icon">track_changes </i></a>
    <a routerLink="/missions" class="list-group-item"><i class="material-icons mg-icon">list </i> </a>
    <a routerLink="/driver" class="list-group-item"><i class="material-icons mg-icon">person</i> </a>
    <a routerLink="/groups" class="list-group-item"><i class="material-icons mg-icon">group</i> </a>
    <a routerLink="/cars" class="list-group-item"><i class="material-icons mg-icon">directions_car</i></a>
    <a routerLink="/product" class="list-group-item"><i class="material-icons mg-icon">extension</i></a>
   
  </div>
</div>

<p>
  product works!
</p>




<!-- <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->

 

