<div class="container">
<form (ngSubmit)="addDriver()"> 
    <h2>Ajouter un Conducteur</h2>
  
  <div class="form-group">
      <input type="text" class="form-control" placeholder="cin">
  </div>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="code">
  </div>
  <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="nom">
  </div>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="prénom">
  </div>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="telephone">
  </div>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="groupe sanguin">
  </div>
  
  
 
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>