
<!-- navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >GeoMarketing</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a>Bienvenu</a></li>
        <li><a href="">Déconnexion</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar -->

<!-- header -->
<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1><span class="glyphicon glyphicon-cog" ></span> Dashboard <small>Gérer votre site</small></h1>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</header>

<!-- header -->

<div  >
    <section id="breadcrumb">
      <div class="container-fluid">
        <ol class="breadcrumb">
          <li class="active">Dashboard</li>
        </ol>
      </div>
    </section>
<!-- sidebar -->
  <section id="main ">
    <div class="container-fluid ">
      <div class="row ">
        <div class="col-md-3 ">
      
             <div class="list-group affix_dash" (scroll)="onWindowScroll($event);" id="sidebar">
                <a routerLink="/dashboard" class="list-group-item active main-color-bg">
                  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
                </a>
                <a routerLink="/planning" class="list-group-item"> <i class="material-icons mg-icon">edit </i>Planification<span class="badge ">12</span></a>
                <a routerLink="/tracking" class="list-group-item"> <i class="material-icons mg-icon">track_changes </i>Suivi<span class="badge ">12</span></a>
                <a routerLink="/mission" class="list-group-item"><i class="material-icons mg-icon">list </i> Les Missions <span class="badge">33</span></a>
                <a routerLink="/driver" class="list-group-item"><i class="material-icons mg-icon">person</i> Les chauffeurs <span class="badge">203</span></a>
                <a routerLink="/groups" class="list-group-item"><i class="material-icons mg-icon">group</i> Les Groupes <span class="badge">43</span></a>
                <a routerLink="/cars" class="list-group-item"><i class="material-icons mg-icon">directions_car</i>Les Vehicules <span class="badge">22</span></a>
                <a routerLink="/product" class="list-group-item"><i class="material-icons mg-icon">extension</i>Les Produits <span class="badge">302</span></a>
               
              </div>
        </div>
<!-- sidebar -->

              <div class="col-md-9">
                <!-- Website Overview -->
                
                <router-outlet></router-outlet>
                
              </div>
      </div>
    </div>
  </section>  

</div>