
    
  <div>
   <h4>Basic mat-select</h4>
   <mat-form-field>
      <mat-label>Les Groupes</mat-label>
     <mat-select>
       <mat-option *ngFor="let food of foods" [value]="food.value">
         {{food.viewValue}}
       </mat-option>
     </mat-select>
   </mat-form-field>
   
   <mat-form-field class="mg">
      <mat-label>Les Vehicules</mat-label>
     <mat-select>
       <mat-option *ngFor="let food of foods" [value]="food.value">
         {{food.viewValue}}
       </mat-option>
     </mat-select>
   </mat-form-field>
   
   <mat-form-field class="mg">
      <mat-label>Les chauffeurs</mat-label>
     <mat-select>
       <mat-option *ngFor="let food of foods" [value]="food.value">
         {{food.viewValue}}
       </mat-option>
     </mat-select>
   </mat-form-field>

   
   <button type="button" class="btn btn-success mg">Recherche</button>
  </div> 
   
  <mat-horizontal-stepper>
    <mat-step label="Step 1" state="phone">
      <p>Put down your phones.</p>
      <div>
        
      </div>
    </mat-step>
    <mat-step label="Step 2" state="chat">
      <p>Socialize with each other.</p>
      
    </mat-step>
    <mat-step label="Step 3">
      <p>You're welcome.</p>
    </mat-step>
    </mat-horizontal-stepper>

    
  <div id="map">

  </div>
    
 

