




 <div id="container">
    <div id="inner">
      <div class="child">
          <div >
              <div class="list-group affix_dash"  id="sidebar">
                <a routerLink="/dashboard" class="list-group-item active main-color-bg">
                  <i class="material-icons mg-icon">dashboard </i>
                </a>
                <a routerLink="/planning" class="list-group-item"> <i class="material-icons mg-icon">edit </i></a>
                <a routerLink="/tracking" class="list-group-item"> <i class="material-icons mg-icon">track_changes </i></a>
                <a routerLink="/missions" class="list-group-item"><i class="material-icons mg-icon">list </i> </a>
                <a routerLink="/driver" class="list-group-item"><i class="material-icons mg-icon">person</i> </a>
                <a routerLink="/groups" class="list-group-item"><i class="material-icons mg-icon">group</i> </a>
                <a routerLink="/cars" class="list-group-item"><i class="material-icons mg-icon">directions_car</i></a>
                
               
              </div>
            </div>
      </div>

      <div class="child2">
          <div>
              <h4></h4>
              <mat-form-field>
                 <mat-label>Les Groupes</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="group" (selectionChange)="getCars()">
                  <mat-option *ngFor="let group of groups" [value]="group.groupe_id">
                    {{group.groupe_id}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field class="mg">
                 <mat-label>Les Vehicules</mat-label>
                <mat-select [(ngModel)]="selectedValue2" name="car" (selectionChange)="getDeviceId()">
                  <mat-option *ngFor="let car of cars" [value]="car.vehicule_id">
                    {{car.mark }}{{car.matricule}}
                  </mat-option>
                </mat-select>
              </mat-form-field> 

        
              <label class="mg">date début:</label>
              <input type="date" class="mg" [(ngModel)]="startDate" >
              <label class="mg">date fin:</label>
              <input type="date" class="mg" [(ngModel)]="endDate" (ngModelChange)="getPaths()"> 

              <mat-form-field class="mg">
                <mat-label>Les Stope Dduration</mat-label>
               <mat-select [(ngModel)]="selectedValue3" name="trame" >
                 <mat-option *ngFor="let trame of trames; let i = index" [value]="trame">
                   {{trame}}
                 </mat-option>
               </mat-select>
             </mat-form-field> 

             <button type="button" class="btn btn-success mg " (click)="drawPath()">Recherche</button>
            </div> 

            <div>
              <mat-horizontal-stepper  #stepper>
                    <ul>
                          
                                <li *ngFor="let a of PoiData; let iteration = index">
                                      <mat-step [label]=a.name state="phone">
                                          <div>
                                            <p>{{a.address}}</p>
                                        
                                             
                                          </div>
                                          <div class=" col-md-offset-10">
                                            <button type="button" class="btn btn-primary "  (click)="navigateToReportion(a.idmission)">Rapport</button>
                                            <button type="button" class="btn btn-success rightpos"  (click)="navigateToSuivi(a.idmission)">Suivi</button>
                                      </div>
                                      </mat-step>
                                
                                </li>
                        
                    </ul> 
                       
                        
              </mat-horizontal-stepper>  
         </div>
              

             
            
              <div id="map">
            
             </div>
      </div>
    </div>
  </div>


  <div id="container">
      <div id="inner">
        <div class="child">
          
        </div>
  
        <div class="child">
  
        </div>
      </div>
    </div>