

<div>
  <h4></h4>
  <mat-form-field>
     <mat-label>Les Groupes</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="group" (selectionChange)="getCars()">
      <mat-option *ngFor="let group of groups" [value]="group.groupe_id">
        {{group.groupe_id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field class="mg">
     <mat-label>Les Vehicules</mat-label>
    <mat-select [(ngModel)]="selectedValue2" name="car" (selectionChange)="getDrivers()">
      <mat-option *ngFor="let car of cars" [value]="car.vehicule_id">
        {{car.vehicule_id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field class="mg">
     <mat-label>Les chauffeurs</mat-label>
    <mat-select [(ngModel)]="selectedValue3" name="driver" >
      <mat-option *ngFor="let driver of drivers" [value]="driver.driver_id" >
        {{driver.driver_id}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  
  <button type="button" class="btn btn-success mg" (click)="search()">Recherche</button>
 </div> 

  <div>
    <mat-horizontal-stepper>
      <mat-step label="Step 1" state="phone">
        <p>Put down your phones.</p>
        <div>
          
        </div>
      </mat-step>
      <mat-step label="Step 2" state="chat">
        <p>Socialize with each other.</p>
        
      </mat-step>
      <mat-step label="Step 3">
        <p>You're welcome.</p>
      </mat-step>
      </mat-horizontal-stepper>
  </div>
   
 <div id="map">

 </div>