#map{ 
    margin-top:0px;
    height: 450px; 
}

.mg{
    margin-left: 30px;
}
.affix {
    top: 20px;
    width: 60px;
    padding: 0px;
      margin: 0px;
    }
    .affix_dash{
      width: 60px;
      padding: 0px;
      margin: 0px;
    }
  
  .ng{
    margin:0px;
    padding: 0px;
  }