<div class="col-md-1 ng"> 
  <div class="list-group affix_dash " (scroll)="onWindowScroll($event);" id="sidebar">
    <a routerLink="/dashboard" class="list-group-item active main-color-bg">
      <i class="material-icons mg-icon">dashboard </i>
    </a>
    <a routerLink="/planning" class="list-group-item"> <i class="material-icons mg-icon">edit </i></a>
    <a routerLink="/tracking" class="list-group-item"> <i class="material-icons mg-icon">track_changes </i></a>
    <a routerLink="/mission" class="list-group-item"><i class="material-icons mg-icon">list </i> </a>
    <a routerLink="/driver" class="list-group-item"><i class="material-icons mg-icon">person</i> </a>
    <a routerLink="/groups" class="list-group-item"><i class="material-icons mg-icon">group</i> </a>
    <a routerLink="/cars" class="list-group-item"><i class="material-icons mg-icon">directions_car</i></a>
    <a routerLink="/product" class="list-group-item"><i class="material-icons mg-icon">extension</i></a>
   
  </div>

</div>
<p>
    Button with a badge on the left
    <button mat-raised-button color="primary"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">
      Action
    </button>
  </p>

  <p>
      <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
    </p>