
      <div class="col-md-1 ng">
        <div class="list-group affix_dash "  id="sidebar">
          <a routerLink="/dashboard" class="list-group-item active main-color-bg">

            <i class="material-icons mg-icon">dashboard </i>
          </a>
          <a routerLink="/planning" class="list-group-item"> <i class="material-icons mg-icon">edit </i></a>
          <a routerLink="/tracking" class="list-group-item"> <i class="material-icons mg-icon">track_changes </i></a>


          <a routerLink="/missions" class="list-group-item"><i class="material-icons mg-icon">list </i> </a>


          <a routerLink="/driver" class="list-group-item"><i class="material-icons mg-icon">person</i> </a>
          <a routerLink="/groups" class="list-group-item"><i class="material-icons mg-icon">group</i> </a>
          <a routerLink="/cars" class="list-group-item"><i class="material-icons mg-icon">directions_car</i></a>


        </div>


      </div>
 
    <div class="col-sm-11 pd">

      <div>

        <div class="panel panel-default">
          <div class="panel-heading main-color-bg">
            <h3 class="panel-title panel-text" style="color:#ecf0f1;">Les groupes</h3>
          </div>
          <div class="panel-body">

            <div class=" col-md-offset-11">
              <button type="button" class="btn btn-success" (click)="openDialog()">Add</button>
            </div>

            <br>

            <div class=" col-md-offset-0">
              <ngx-datatable #mydatatable 
              class="material" 
              [headerHeight]="50" 
              [limit]="10" 
              [columnMode]="'force'"
              [footerHeight]="50" 
              [rowHeight]="'auto'" 
              [rows]="groups">
                <ngx-datatable-column name="groupe_id">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                    <span title="Double click to edit" (dblclick)="editing[rowIndex + '-groupe_id'] = true"
                      *ngIf="!editing[rowIndex + '-groupe_id']">
                      {{row.groupe_id}}
                    </span>
                    <input autofocus (blur)="updateValue($event, 'groupe_id', rowIndex)"
                      *ngIf="editing[rowIndex+ '-groupe_id']" type="text" [value]="value" />
                  </ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="nom">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Double click to edit" (dblclick)="editing[rowIndex + '-nom'] = true"
                      *ngIf="!editing[rowIndex + '-nom']">
                      {{row.nom}}
                    </span>
                    <input autofocus (blur)="updateValue($event, 'nom', rowIndex)"
                      *ngIf="editing[rowIndex+ '-nom']" type="text" [value]="value" />
                  </ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="Action" prop="groupe_id" [sortable]="false">
                  <ng-template let-rowIndex="rowIndex" let-id="value" ngx-datatable-cell-template>
                    <button class="btn btn-sm btn-danger" (click)="delete(id)">
                      <i class="fa fa-trash"></i> Delete
                    </button>
                    
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>

          </div>

        </div>

      </div>


  </div>