
<div class="col-md-1 ng">
    <div class="list-group affix_dash"  id="sidebar">
      <a routerLink="/dashboard" class="list-group-item active main-color-bg">
        <i class="material-icons mg-icon">dashboard </i>
      </a>
      <a routerLink="/planning" class="list-group-item"> <i class="material-icons mg-icon">edit </i></a>
      <a routerLink="/tracking" class="list-group-item"> <i class="material-icons mg-icon">track_changes </i></a>
      <a routerLink="/missions" class="list-group-item"><i class="material-icons mg-icon">list </i> </a>
      <a routerLink="/driver" class="list-group-item"><i class="material-icons mg-icon">person</i> </a>
      <a routerLink="/groups" class="list-group-item"><i class="material-icons mg-icon">group</i> </a>
      <a routerLink="/cars" class="list-group-item"><i class="material-icons mg-icon">directions_car</i></a>
      
     
    </div>
</div>
<div class="col-md-10">
<ul>
  <h2>
    Rapport de mission {{missionId}}
    
  </h2>     
  <br>         
  <li *ngFor="let ts of pois; let iteration = index">
    <div class="">
      <h4>
          Rapport de   {{ts.name}}        
      </h4>
        <ngx-datatable
          class='material'
          [rows]='rows'
          [limit]="10"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          
          >
          <ngx-datatable-column name="idrapport" >
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"  let-row="row">
              <span>{{row.idrapport}}</span>
            </ng-template>
          </ngx-datatable-column>
  
          <ngx-datatable-column name="date">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"  let-row="row">
                <span>{{row.date}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="produit">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"  let-row="row">
                <span>{{row.date}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="référence">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"  let-row="row">
                <span>{{row.date}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="quantitié">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"  let-row="row">
                <span>{{row.date}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="face">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"  let-row="row">
                <span>{{row.date}}</span>
              </ng-template>
            </ngx-datatable-column>
          
          
        </ngx-datatable>
  
     </div>
     <br>
  
  </li>

</ul> 
</div>

